/* Add application styles & imports to this file! */

.tabs__titles {
  display: flex;
  flex: 1 1 0;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.tabs__title {
  padding: 5px;
  cursor: pointer;
}

.tabs__title--active {
  border-bottom: 2px solid #ff2222;
}
